[submodule "libs/phpunit-wrapper"]
	path = libs/phpunit-wrapper
	url = https://github.com/fwolf/phpunit-wrapper.git
[submodule "libs/phpmailer-wrapper"]
	path = libs/phpmailer-wrapper
	url = https://github.com/fwolf/phpmailer-wrapper.git
[submodule "libs/coding-client"]
	path = libs/coding-client
	url = https://github.com/fwolf/coding-client-php.git
[submodule "libs/singleton"]
	path = libs/singleton
	url = https://github.com/fwolf/singleton.php
[submodule "libs/uuid"]
	path = libs/uuid
	url = https://github.com/fwolf/uuid.php
[submodule "libs/base-converter"]
	path = libs/base-converter
	url = https://github.com/fwolf/base-converter.php.git
[submodule "libs/config"]
	path = libs/config
	url = https://github.com/fwolf/config.php.git
